body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
  background-color: #ffffff; /* svetla pozadina */
  color: #111111; /* tamni tekst */
}

#status {
  margin-top: 20px;
  font-size: 1.5rem;
}